.results {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.resultsTableWrapper {
  display: flex;
  flex: 1;
}

.resultsTable {
  font-size: 12px;
  border-spacing: 1px;
  border-collapse: separate;
  width: 100%;
}

.columnheader {
  text-align: left;
  font-weight: normal;
}

.cell {
  background-color: rgba(25, 25, 25, 0.4);
  transition: all 200ms;
  cursor: pointer;

  &:hover {
    background-color: rgba(25, 25, 25, 0.7);
  }
}

.cell td,
.columnheader {
  padding: 8px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tdIcon {
  padding: 5px !important;
}

.tdDisabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
