{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$",
          "scss$"
        ]
      },
      "styled-components"
    ],
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
