{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$",
          "scss$"
        ]
      }
    ],
    "transform-class-properties",
    "transform-decorators-legacy",
    ["transform-define", "./env-config.js"]
  ]
}
