{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$",
          "scss$"
        ]
      },
      ["styled-components", {
        "ssr": true,
        "preprocess": true
      }]
    ],
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
