{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "global-require": 0,
    "semi": 0
  }
}
