$primary: #5d5d5d;
$focus: #2196f3;
$headerBackground: rgba(0, 0, 0, 0.45);

.header {
  height: 48px;
  background-color: $headerBackground;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  border-radius: 2px;

  & > button {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 4px 6px;
    display: flex;
    cursor: pointer;
    transition: all 200ms;
    border: 0;
    outline: none;
    border-right: 1px solid $headerBackground;
    //-webkit-app-region: no-drag;

    &:last-of-type {
      border-right: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    &.navbarActive svg {
      fill: #ffeb3b;
    }
  }

  svg {
    fill: #eeeeee;
    pointer-events: none;
    transition: all 200ms;
  }

  & > div:hover > svg {
    fill: #ffffff;
  }
}

.addMagnet {
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 0;

  & > div {
    display: flex;
    flex-direction: row;
  }

  h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 12px 0;
  }

  input {
    padding: 4px 8px;
    background-color: rgba(78, 78, 78, 0.75);
    border-radius: 2px 0 0 2px;
    border: 1px solid #797979;
    width: 400px;
    font-family: inherit;
    font-size: 13px;
    border-right: 0;
    outline: none;
    color: #fff;
  }

  button {
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 0 2px 2px 0;
    border:0;
    border-left: 1px solid #ffffff;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: lighten(#fff, 0.8);
    }
  }
}
