@import url('//cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.row {
  width: 90%;
  margin: 10px auto;
}

input {
  border: 1px solid #eee;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 2px;
  display: table;
  outline: none;
  color: #aaa;
}

input:focus {
  color: #666;
}

input:focus {
  border-color: cornflowerblue;
}

button {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  width: 100%;
}

table {
  width: 80%;
  margin: 0 auto;
  font-weight: 400;
}

td, th {
  border-bottom: 0.1rem solid #f1f1f1;
}

.torrent-name {
  text-align: center;
  margin: 30px 30px 60px;
}

.fa-arrow-circle-o-down, .fa-play-circle-o {
  font-size: 30px;
}

td:last-child, th:last-child {
  text-align: center;
}
