<div class="home">
  <form action="">
    <div class="row">
      <div class="input-group">
        <input type="text" class="form-input url-input" placeholder="site name" #urlInput/>
        <button class="btn btn-primary input-group-btn add-btn" (click)="startProcessing(urlInput.value)">Submit</button>
      </div>
    </div>
  </form>

  <div *ngIf="torrentDetails">
    <h4 class="torrent-name">{{torrentDetails.name}}</h4>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th>File Name</th>
        <th>Size</th>
        <th></th>
        <th>Download</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of torrentDetails.files; let i = index">
        <td>{{i + 1}}</td>
        <td><i class="material-icons salmon" *ngIf="file.type.indexOf('video') >= 0">&#xE02C;</i></td>
        <td>{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>
          <span class="start-stream" *ngIf="isSupported(file.type)" (click)="startStream(torrentDetails.torrentId, i, file.name)"><i
            class="material-icons">&#xE039;</i></span>
        </td>
        <td>
          <a target="_blank" [href]="'/download/' + torrentDetails.torrentId + '/' + i + '/' + file.name" download>
            <i class="material-icons">&#xE2C4;</i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="modal active" *ngIf="showModal">
    <i class="material-icons md-light close-modal" (click)="closeModal()">close</i>
    <div class="video-container">
      <plyr [src]="videoUrl"></plyr>
    </div>
  </div>
</div>
