.files {
  margin-top: 10px;
  border-radius: 2px;
  overflow: auto;
  display: flex;

  table {
    font-size: 12px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  th {
    text-align: left;
  }

  td,
  th {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 5px 8px;
  }

  td[data-id="play"] {
    text-align: center;
    padding: 5px 0;
  }

  tbody tr {
    cursor: pointer;
    transition: all 200ms;
  }

  tbody tr:hover {
    background-color: rgba(103, 58, 183, 0.33);
  }
}

.loaderModal {
  position: absolute;
  z-index: 9999;
  padding: 20px;
  background-color: #232323;
  border-radius: 4px;
  left: 50%;
  margin-left: -90px;
  top: 100px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;

  svg {
    margin: 0 auto 20px;
  }
}

.vlcIcon {
  margin: 0 4px;
}

.playIcon {
  margin-right: 5px;
  color: #8bc34a;
}
