.modal {
  position: absolute;
  display: flex;
  top: 50px;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%);
}

.fullScreen {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 10;
  right: 5px;
  top: 5px;
  cursor: pointer;
  pointer-events: all;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: all 200ms;
  -webkit-app-region: no-drag;
  border-radius: 2px;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
