.zeroResultsWrapper {
  display: flex;
  opacity: 0;
  flex: 1;
  border: 2px dashed #656565;
  margin: 20px;
  border-radius: 2px;
  transition: all 200ms;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 9;
}

.zrwActive {
  border-color: white;
}

.zrwSearch {
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.64);
}

.zrwSearch.zrwActive {
  opacity: 1;
}

.zeroResultsWrapper svg {
  transition: all 200ms;
  fill: #929292;
  margin-bottom: 10px;
}

.zrwActive svg {
  fill: white;
}
