* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.99), #3ab764);
  background-color: #171717;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.banner {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.particles {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.logo {
  height: 200px;
  margin: 0 auto;
  opacity: 0.85;
}

.top-section {
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  & span {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.85;
    text-align: center;
    line-height: 28px;
  }
}

.demo-wrapper {
  z-index: 1;
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.demo {
  width: 844px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(70, 70, 70, 0.77);
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -1px 1px 0 #000;
  background-position: inherit;
}

.downloads {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin-top: 40px;
}

.download-button {
  background-color: #ffffff2e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms;
  border: none;

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

footer {
  height: 50px;
  background-color: #1d1d1dc7;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  a {
    text-decoration: none;
    color: #03a9f4;
  }
}

@media only screen and (max-width: 480px) {
  .demo-wrapper {
    display: none;
  }
}
