* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-image: linear-gradient(rgba(70, 70, 70, 0.8), rgba(0, 0, 0, 0.99)),
    url(/background.jpg);
  background-color: #171717;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-section {
  display: flex;
  flex: 1;
}

.demo-wrapper {
  width: 100%;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo {
  width: 900px;
  height: 640px;
  background-image: url(/demo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(70, 70, 70, 0.77);
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -1px 1px 0 #000;
  /*animation: mymove 20s infinite;*/
}

@keyframes mymove {
  0% {
    background-color: #3d0000;
  }
  25% {
    background-color: #000052;
  }
  50% {
    background-color: #3e3e00;
  }
  75% {
    background-color: #003400;
  }
  100% {
    background-color: #1a1a1a;
  }
}
