.wrapper {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  overflow: hidden;
  margin-top: 5px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list {
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &:hover {
    background-color: #000000;
  }
}

.noCast {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;

  & > span {
    margin-top: 10px;
  }
}
