header {
  width: 100%;
  padding: 10px 5%;
  position: fixed;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  z-index: 99;
  background-color: white;
}

.form-control {
  border: 1px solid #eee;
  font-size: 14px;
  padding: 10px;
  border-radius: 2px;
  display: table;
  outline: none;
  color: #aaa;
  width: 98%;
}

input:focus {
  color: #666;
}
