@import "~spectre.css/spectre.less";

html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.torrent-name {
  text-align: center;
  margin: 60px;
}

.fa-arrow-circle-o-down, .fa-play-circle-o {
  font-size: 30px;
}

.mdi.salmon {
  color: #f95f4d;
}

.mdi.md-light { color: rgba(255, 255, 255, 1); }

.start-stream {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}

.modal video {
  margin: 80px auto;
  display: flex;
}

.video-container {
  width: 90%;
  margin: 80px auto;
}

.close-modal:hover {
  color: #ffffff;
}

.mdi.mdi-eye{
  cursor: pointer;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.fs-22 {
  font-size: 22px;
}

:focus {
  box-shadow: none;
}

.m-0{
  margin: 0;
}
