@import "../../node_modules/spectre.css/dist/spectre.css";
@import "../../node_modules/mdi/css/materialdesignicons.css";

@import "Home/Home.css";

html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


